<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.liyi.seckill.common.domain.mapper.SeckillOrderDOMapper">
  <resultMap id="BaseResultMap" type="com.liyi.seckill.common.domain.dataobject.SeckillOrderDO">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="user_id" jdbcType="BIGINT" property="userId" />
    <result column="activity_id" jdbcType="BIGINT" property="activityId" />
    <result column="goods_id" jdbcType="BIGINT" property="goodsId" />
    <result column="order_no" jdbcType="VARCHAR" property="orderNo" />
    <result column="seckill_price" jdbcType="DECIMAL" property="seckillPrice" />
    <result column="goods_name" jdbcType="VARCHAR" property="goodsName" />
    <result column="goods_img" jdbcType="VARCHAR" property="goodsImg" />
    <result column="status" jdbcType="TINYINT" property="status" />
    <result column="expire_time" jdbcType="TIMESTAMP" property="expireTime" />
    <result column="is_deleted" jdbcType="TINYINT" property="isDeleted" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, user_id, activity_id, goods_id, order_no, seckill_price, goods_name, goods_img, 
    `status`, expire_time, is_deleted, create_time, update_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_seckill_order
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from t_seckill_order
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.liyi.seckill.common.domain.dataobject.SeckillOrderDO" useGeneratedKeys="true" keyProperty="id">
    insert into t_seckill_order (user_id, activity_id,
      goods_id, order_no, seckill_price, 
      goods_name, goods_img, `status`, 
      expire_time, is_deleted, create_time, 
      update_time)
    values (#{userId,jdbcType=BIGINT}, #{activityId,jdbcType=BIGINT},
      #{goodsId,jdbcType=BIGINT}, #{orderNo,jdbcType=VARCHAR}, #{seckillPrice,jdbcType=DECIMAL}, 
      #{goodsName,jdbcType=VARCHAR}, #{goodsImg,jdbcType=VARCHAR}, #{status,jdbcType=TINYINT}, 
      #{expireTime,jdbcType=TIMESTAMP}, #{isDeleted,jdbcType=TINYINT}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.liyi.seckill.common.domain.dataobject.SeckillOrderDO" useGeneratedKeys="true" keyProperty="id">
    insert into t_seckill_order
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="activityId != null">
        activity_id,
      </if>
      <if test="goodsId != null">
        goods_id,
      </if>
      <if test="orderNo != null">
        order_no,
      </if>
      <if test="seckillPrice != null">
        seckill_price,
      </if>
      <if test="goodsName != null">
        goods_name,
      </if>
      <if test="goodsImg != null">
        goods_img,
      </if>
      <if test="status != null">
        `status`,
      </if>
      <if test="expireTime != null">
        expire_time,
      </if>
      <if test="isDeleted != null">
        is_deleted,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=BIGINT},
      </if>
      <if test="activityId != null">
        #{activityId,jdbcType=BIGINT},
      </if>
      <if test="goodsId != null">
        #{goodsId,jdbcType=BIGINT},
      </if>
      <if test="orderNo != null">
        #{orderNo,jdbcType=VARCHAR},
      </if>
      <if test="seckillPrice != null">
        #{seckillPrice,jdbcType=DECIMAL},
      </if>
      <if test="goodsName != null">
        #{goodsName,jdbcType=VARCHAR},
      </if>
      <if test="goodsImg != null">
        #{goodsImg,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=TINYINT},
      </if>
      <if test="expireTime != null">
        #{expireTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isDeleted != null">
        #{isDeleted,jdbcType=TINYINT},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.liyi.seckill.common.domain.dataobject.SeckillOrderDO">
    update t_seckill_order
    <set>
      <if test="userId != null">
        user_id = #{userId,jdbcType=BIGINT},
      </if>
      <if test="activityId != null">
        activity_id = #{activityId,jdbcType=BIGINT},
      </if>
      <if test="goodsId != null">
        goods_id = #{goodsId,jdbcType=BIGINT},
      </if>
      <if test="orderNo != null">
        order_no = #{orderNo,jdbcType=VARCHAR},
      </if>
      <if test="seckillPrice != null">
        seckill_price = #{seckillPrice,jdbcType=DECIMAL},
      </if>
      <if test="goodsName != null">
        goods_name = #{goodsName,jdbcType=VARCHAR},
      </if>
      <if test="goodsImg != null">
        goods_img = #{goodsImg,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        `status` = #{status,jdbcType=TINYINT},
      </if>
      <if test="expireTime != null">
        expire_time = #{expireTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isDeleted != null">
        is_deleted = #{isDeleted,jdbcType=TINYINT},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.liyi.seckill.common.domain.dataobject.SeckillOrderDO">
    update t_seckill_order
    set user_id = #{userId,jdbcType=BIGINT},
      activity_id = #{activityId,jdbcType=BIGINT},
      goods_id = #{goodsId,jdbcType=BIGINT},
      order_no = #{orderNo,jdbcType=VARCHAR},
      seckill_price = #{seckillPrice,jdbcType=DECIMAL},
      goods_name = #{goodsName,jdbcType=VARCHAR},
      goods_img = #{goodsImg,jdbcType=VARCHAR},
      `status` = #{status,jdbcType=TINYINT},
      expire_time = #{expireTime,jdbcType=TIMESTAMP},
      is_deleted = #{isDeleted,jdbcType=TINYINT},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>


</mapper>